div {
    width: 600px;
    height: 300px;
    margin: 50px auto;
    /* <sudut> | <arah>, <warna awal>, <warna akhir> */
    /* with sudut */
    /* background-image: linear-gradient( 45deg, red, green); */

    /* with arah */
    background-image: linear-gradient( to right, red 63%, green 80%);
    /* persen merupakan color stop : menentukan warna yang lebih dominan */
}