
.satu {
    width: 200px;
    height: 200px;
    background-color: lightgreen;
    margin: 10px 20px 30px 40px;
}
/* shorthand => margin: atas kanan bawah kiri (searah jarum jam)*/

.dua{
    width:100px;
    height:100px;
    background-color:lightblue;
    margin-left: auto;
    margin-right: auto;
}

.tiga{
    width:50px;
    height:50px;
    background-color: violet;
    margin-left: auto;
    margin-right: auto;
}