div {
    width: 600px;
    margin: 10px auto;
    box-sizing: border-box;
}

.satu {
    background-color: royalblue;
    padding: 10px;
    border: 5px solid red;
}

.dua {
    background-color: lightgreen;
    padding: 30px;
    border: 10px dashed orange;
}

/* border: width style color */
/* box sizing mengatur agar box tetap pada ukuran sama
walaupun sudah di tambah padding dan border */