.hello:link {
    color: olivedrab;
}

.hello:hover {
 color: goldenrod;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 20px;
}

.hello:active{
    font-style: italic;
}

.hello:visited {
    color: red;
}

/* li:first-child a {
    color: green;
}

li:last-child a {
    color: green;
} */

li:nth-child(3n) a {
    color: green;
}

li:nth-child(odd) a:hover {
    color: red;
}

/* :first-of-type untuk bagian awal */
p:last-of-type{
    color: red;
}
