.container {
    width: 800px;
    border: 1px solid black;
    margin: auto;
    padding: 5px;
}

.kiri{
    width: 150px;
    height: 500px;
    background-color: salmon;
    float: left;
    padding: 10px;
    box-sizing: border-box;
}

.tengah {
    width: 500px;
    height: 500px;
    background-color: lightskyblue;
    float: left;
}

.kanan {
    width: 150px;
    height: 500px;
    background-color: limegreen;
    float: right;
}

/* clearfix for clear float Nicolas Gallagher*/

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}