/* font */

@font-face {
    font-family: 'BebasNeu';
    src: url(../fonts/bebasneue-regular-webfont.woff) format('woff');
}

/* style utama */

body {
    font: 18px/36px 'BebasNeu', 'Arial Narrow', arial, sans-serif;
    background-color: #ddd;
}

h1 {
    font-size: 80px;
    margin: 50px 0;
    text-align: center;
    text-shadow: 1px 1px 1px white;
}

.container {
    width: 600px;
    background-color: white;
    margin: auto;
    padding: 30px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .3);
    border-radius: 5px;
}

.gallery li {
    width: 120px;
    height: 120px;
    /* overflow: hidden; */
    border: 5px solid #666;
    float: left;
    margin-right: 20px;
    position: relative;
}

.gallery li,
.gallery li img,
.gallery li span {
    border-radius: 50%;
}

.gallery li span {
    display: block;
    width: 120px;
    height: 120px;
    background-color: rgba(200, 200, 200, .5);
    position: absolute;
    top: 0;
    text-align: center;
    line-height: 120px;
    color: #333;
    text-shadow: 1px 1px 1px #ddd;
    opacity: 0;
    transition: .3s;
    transform: scale(0) rotate(0);
}

.gallery li a:hover span {
    opacity: 1;
    transform: scale(1) rotate(360deg);
 }


.clear {
    clear: both;
}

/* Overlay */

.overlay {
    position: fixed;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .8);
    z-index: 9999;
}