/* With Google Fonts */

/* h1 {
    font-size: 100px;
    text-align: center;
    font-family: "Indie Flower", cursive;
} */

/* With Font Face */

@font-face {
    font-family: "Alex Brush";
    src: url(AlexBrush-Regular.ttf) format('truetype');
}

h1 {
    font-size: 100px;
    text-align: center;
    font-family: "Alex Brush", arial;
}