body {
    background-image: url(what-the-hex-dark.png);
}

/* 
    opacity pada ELEMEN, JIKA PARENT TRANSPARAN MAKA CHILD MEWARISI 
    - Cara mengatasi dengan memberikan opacity pada WARNA -
*/

/* .satu {
    width: 300px;
    height: 300px;
    background-color: #f60;
    opacity: 0.5;
    position: relative;
}

.dua {
    width: 100px;
    height: 100px;
    background-color: blue;
    position: absolute;
    right: -50px;
    bottom: -50px;
    opacity: 0.5;
} */

/* RGBA() : Transparansi pada WARNA */

/* .satu {
    width: 300px;
    height: 300px;
    background-color: rgba(255, 102, 0, 0.5);
    position: relative;
}

.dua {
    width: 100px;
    height: 100px;
    background-color: blue;
    position: absolute;
    right: -50px;
    bottom: -50px;
} */


/* HSLa () */


.satu {
    width: 300px;
    height: 300px;
    background-color: hsla(24, 100%, 63%, 0.5);
    position: relative;
}

.dua {
    width: 100px;
    height: 100px;
    background-color: blue;
    position: absolute;
    right: -50px;
    bottom: -50px;
}