.satu {
    width: 300px;
    height: 300px;
    background-color: #39b54a;
    margin: 50px auto;
    /* box-shadow : <x-offset> <y-offset> <blur> <spread> <color>*/
    /* Spread OPTIONAL : Bayangan KELUAR */
    box-shadow: 0px 30px 10px -20px rgba(0, 0, 0, .75);
    transition: .3s;
}

.satu:hover {
    box-shadow: 0px 80px 10px -40px rgba(0, 0, 0, 0.15);
    margin-top: 40px;
}

.dua {
    width: 300px;
    height: 300px;
    background-color: #39b54a;
    margin: 100px auto;
    /* inset Memberikan BAYANGAN KE DALAM */
    box-shadow: inset 0 0 15px rgba(0, 0, 0, .5);
}

/* Multiple Shadow / Border multiple */
.tiga {
    width: 300px;
    height: 300px;
    background-color: #39b54a;
    margin: auto;
    box-shadow: 0 0 0 5px red,
    0 0 0 10px green,
    0 0 0 15px yellow,
    0 0 0 20px orange;
    border-radius: 50%;
}